<mat-toolbar>
    <button mat-icon-button aria-label="Menú">
        <mat-icon>menu</mat-icon>
    </button>
    <!-- <span style="color:black">Mi Aplicación</span> -->
    <div class="spacer"></div>

    <button class="btn" aria-label="Usuario" [routerLink]="['/lista-tareas']"> Inicio
    </button>
    <button class="btn" aria-label="Usuario" [routerLink]="['/tareas']"> Tareas
    </button>
    <button class="btn" aria-label="Usuario" [routerLink]="['/pomodototimer']"> Pomodoro
    </button>

    <button class="btn-b" aria-label="Usuario"> Cuenta
    </button>
    <button class="btn-b" aria-label="Usuario" [routerLink]="[' ']"> Cerrar
    </button>


</mat-toolbar>