<div style="background-color: #F1F3F6">

    <div class="box-2">
        <!-- <h2 class="title">¡Bienvenidx {{}}</h2> -->

        <h1 class="title">¡Bienvenidx!</h1>
        <h5 class="title">¿Qué quieres hacer hoy?</h5>

        <button class="btn" [routerLink]="['/tareas']">Añadir tarea</button>
        <button class="btn" [routerLink]="['/pomodototimer']">Pomodoro timer</button>

    </div>
    <div class="box">
        <div>
            <h2 class="title">TAREAS INICIADAS</h2>
            <p class="title">Selecciona o crea una tarea para iniciar</p>
        </div>
        <div class="texting">

        </div>

    </div>
</div>